@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

#welcomeText{
  padding-top:10%;
}
.card{

  .card-img{
    -webkit-transition: 100ms;
    filter: blur(2px);
  }
  &:hover{
    cursor: pointer;
    .card-img{
      -webkit-transition: 100ms;
      filter: blur(10px);
    }
  }
  .card-img-overlay{
    padding-top:50%;
    font-size:3rem;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.5),
                  5px 10px 10px rgba(0,0,0,0.2),
                  5px 10px 15px rgba(0,0,0,0.2);
    font-family: "Lato";
    h3{
      font-weight: 900;
    }
    p{
      font-weight: 400;
    }
  }
}
